div.pradeep{
    color: #000;
    border: 4px solid #000; /* Black border with 2px width */
    padding: 20px;           /* Padding inside the form */
    border-radius: 10px;     /* Rounded corners */
    margin-top:20px;
    
};
p.tbdr{
    border:4px dased black;
}